body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 80px;
  scrollbar-color: dark;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.headings {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  margin-top: 0px;
  font-weight: bold;
}

.resume {
  display: inline-block;
  margin: 0 auto;
}

.resume:link {
  text-align: center;
  text-decoration: none;
  color: currentColor;
}

.resume:hover,
.resume:active {
  border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
