.animated_text_container {
  position: relative;
  padding-top: 80px;
}
.animated_gradient_text,
.animated_gradient_text_overlay {
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.3;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  user-select: none;
  width: 100%;
}

.animated_gradient_text_overlay {
  position: absolute;
  padding-top: 80px;
  top: 0;
  left: 0;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  -webkit-animation: animated-gradient-text_fade 7s infinite;
  animation: animated-gradient-text_fade 7s infinite;
}

.animated_text_color {
  color: #000;
}

.animated_text_color_reversed {
  color: #fff;
}

@keyframes animated-gradient-text_fade {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .animated_gradient_text,
  .animated_gradient_text_overlay {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .animated_gradient_text,
  .animated_gradient_text_overlay {
    font-size: 2rem;
  }
}
