.container {
  width: 50%;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.container_reverse {
  width: 50%;
  text-align: center;
  overflow: hidden;
  background-color: black;
  margin: 0 auto;
}

.technologies {
  width: 200%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  margin-top: 5rem;
  padding: 0;
}

.technologies_native {
  width: 170%;
}

.techlogo {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.techlogo p {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 75%;
    margin-top: 5rem;
  }
  .technologies {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 90%;
    margin-top: 4rem;
  }
  .technologies {
    margin-top: 3rem;
  }
  .technologies_native {
    width: 170%;
  }
}

@media screen and (max-width: 950px) {
  .container {
    width: 80%;
    margin-top: 3rem;
  }
  .technologies {
    margin-top: 2rem;
    width: 250%;
    animation: running_div alternate infinite 15s;
  }
  .techlogo p {
    margin: 0;
  }
  .technologies_native {
    width: 240%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 75%;
    margin-top: 3rem;
  }
  .technologies {
    margin-top: 2rem;
    width: 400%;
    animation: running_div alternate infinite 10s;
  }
  .technologies_native {
    width: 210%;
  }
}

@media screen and (max-width: 400px) {
  .technologies {
    margin-top: 2rem;
    width: 450%;
    animation: running_div alternate infinite 9s;
  }
  .technologies_native {
    width: 220%;
  }
}

@keyframes running_div {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-35%);
  }
}
